#game-shell{
    margin: 20% 10% 10% 10%;
    border-bottom: 2px solid black;
    position: relative;
    height:90px;
}
body{
    background-color: #efefee;
     background-image: url('sand.jpg'); 

}
#trex{
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: -600px;
    left:100px;
    z-index: 12;
}
#obstacles{
    width:310px;
    height: 800px;

}
#obstacle{
    position : absolute;
    width:280px;
    height:280px;
    /* background-color: black; */
    /* background-image: url("plantddd.jpg"); */
    bottom: -600px;
    z-index: 10;
}
#flying
{
    position: absolute;
    width:280px;
    height:280px;
    bottom:-200px;
    z-index: 10;

}
#coinup
{
    position: absolute;
    width:150px;
    height:150px;
    border-radius:20px;
    bottom: -150px;
    z-index: 10;
}
#coindn
{
    position : absolute;
    width:150px;
    height:150px;
    border-radius: 20px;
    /* background-color: black; */
    /* background-image: url("plantddd.jpg"); */
    bottom: -600px;
    z-index: 10;
}
#road{
    margin-top: 0px;
    margin-bottom: -80px;
    background-color:white;
}

