#game-shell{
    margin: 20% 10% 10% 10%;
    border-bottom: 2px solid black;
    position: relative;
    height:90px;
}
body{
    background-color: #efefee;
     background-image: url('sand.jpg'); 

}
#trex{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -180px;
    left: 20px;
    z-index: 12;
}
#obstacles{
    width:308px;
    height: 300px;

}

#obstacle{
    position : absolute;
    width:90px;
    height:90px;
    /* background-color: black; */
    /* background-image: url("plantddd.jpg"); */
    bottom: -180px;
    z-index: 10;
}
#flying
{
    position: absolute;
    width:80px;
    height:80px;
    bottom:-10px;
    z-index: 10;

}
#coinup
{
    position: absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    z-index: 10;
    top: 20px;
}
#coindn
{
    position : absolute;
    width:40px;
    height:40px;
    /* background-color: black; */
    /* background-image: url("plantddd.jpg"); */
    border-radius: 20px;
    bottom: -170px;
    z-index: 10;
}
#road{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
}
